// Branding
$lepo_indigo:       #4E0082;
$lepo_indigo_dark:  #37005B;

$lepo_alt:          #002B82;
$lepo_alt_dark:     #001E5B;

$lepo_white:        #FAF3FF;

// Background colors
$default_bg:         #ffffff;
$default_fg:         #222;
$default_border:     #ddd;

// Header colors
$header_bg:          #4b0082;
$header_fg:          #fff;

// Footer colors
$footer_bg:          $default_bg;
$footer_fg:          $default_fg;

// Link colors
$l_fg_color:         #44d;
$l_bg_color:         transparent;
$l_hover_bg_color:   $l_fg_color;
$l_hover_fg_color:   #fff;

// Code colors
$code_bg:            #fafafa;
$code_fg:            inherit;
$code_border:        #ddd;
$code_block_bg:      #fafafa;
$code_block_fg:      inherit;
$code_block_border:  #35a;

// Meta colors
$meta_fg:            #666;

// Layout
$content_max_width:  600px;
$table_max_width:    600px;

// Fonts
$font_sans_serif:    "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_monospace:     "Cousine", Menlo, Monaco, Consolas, "Lucida Console", monospace;
$default_font:       $font_sans_serif;
$content_font:       $font_sans_serif;
$code_font:          $font_monospace;

// Font sizes
$normal_font_px:     18px;
$normal_font_rem:    1.8rem;
$line_height:        1.618; // Golden ratio

$tiny_font_px:     12px;
$tiny_font_rem:    1.2rem;

// Mixins

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Defaults

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $default_bg;
  color: $default_fg;
  font-size: $normal_font_px; font-size: $normal_font_rem;
  font-family: $default_font;
  line-height: $line_height;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.618em;
  text-align: justify;
}

pre {
  margin: 1em 0;
  padding: 1em;
  border-left: 0.25em solid $lepo_alt;
  background-color: $lepo_white;
  color: $code_block_fg;
  overflow-x: auto;
}

code {
  background-color: $code_bg;
  color: $code_fg;
  @include border-radius(2px);
  padding: 0 6px;
  font-family: $code_font;
}

pre code {
  font-size: $tiny_font_px; font-size: $tiny_font_rem;
  background-color: transparent;
  color: inherit;
  border: 0;
  padding: 0;
}

a {
  color: $lepo_alt;
  text-decoration: underline;
  &:hover {
    color: $lepo_alt_dark;
    text-decoration: none;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

.left { float: left !important; }

.right { float: right !important;}

  // Page setup

.no-bul {
  list-style: none;
}

.inline-list {
  li {
    display: inline;
  }
}

.info-table {
  border: none;
  th {
    border: none;
    margin: 0;
    text-align: right;
    padding: 2px 15px 2px 0;
  }
}

header#main-menu {
  background-color: $header_bg;
  text-align: center;
  margin: 0;
  h1 {
    margin: 0;
    a {
      color: $header_fg;
      text-decoration: none;
      &:hover {
        color: $header_fg;
        &:before { content: "{" }
        &:after { content: "}" }
      }
    }
  }
}

#wrapper {
  width: $content_max_width;
  margin: 0 auto;
  #projects {
    margin: 1em 0;
    .project {
      border-left: 0.25em solid $lepo_indigo;
      background: $lepo_white;
      padding: 1em;
      margin-bottom: 1em;
      p {
        margin: 0;
      }
    }
  }
}

#prev-next {
  a {
    margin: 1em 0;
    text-align: center;
    display: block;
    line-height: 3em;
    background: $lepo_alt;
    color: $lepo_white;
  }
}

footer {
  border-top: 0.25em solid $lepo_indigo;
  margin: 1.5em 0 0 0;
  width: 100%;
  div {
    background: $lepo_white;
    padding: 0.5em;
  }
}

@media screen and (max-width: 600px) {
  #wrapper {
    max-width: 98%;
    padding: 0 1%;
  }
}
