// Branding
$lepo_indigo:       #44118d;
$lepo_indigo_dark:  #300C63;

$lepo_alt:          $lepo_indigo;
$lepo_alt_dark:     $lepo_indigo_dark;

$lepo_white:        #F7F1FF;

// Background colors
$default_bg:         #ffffff;
$default_fg:         #222;
$default_border:     #ddd;

// Header colors
$header_bg:          $lepo_indigo;
$header_fg:          #fff;

// Footer colors
$footer_bg:          $default_bg;
$footer_fg:          $default_fg;

// Link colors
$l_fg_color:         #44d;
$l_bg_color:         transparent;
$l_hover_bg_color:   $l_fg_color;
$l_hover_fg_color:   #fff;

// Code colors
$code_bg:            #fafafa;
$code_fg:            inherit;
$code_border:        #ddd;
$code_block_bg:      #fafafa;
$code_block_fg:      inherit;
$code_block_border:  #35a;

// Meta colors
$meta_fg:            #666;

// Layout
$content_max_width:  700px;
$table_max_width:    700px;

// Fonts
$font_sans_serif:    "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_monospace:     "Cousine", Menlo, Monaco, Consolas, "Lucida Console", monospace;
$default_font:       $font_sans_serif;
$content_font:       $font_sans_serif;
$code_font:          $font_monospace;

// Font sizes
$normal_font_px:     18px;
$normal_font_rem:    1.8rem;
$line_height:        1.618; // Golden ratio

$tiny_font_px:     12px;
$tiny_font_rem:    1.2rem;

@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), url(//fonts.gstatic.com/s/cousine/v10/DwTQUBZUm7p0EqFjmSeK4w.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(//fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcU3KvHLhcNjEHFQzwNtdMQY.ttf) format('truetype');
}

// Defaults

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $default_bg;
  color: $default_fg;
  font-size: $normal_font_px; font-size: $normal_font_rem;
  font-family: $default_font;
  line-height: $line_height;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.618em;
  text-align: justify;
}

pre {
  margin: 1em 0;
  padding: 1em;
  border-left: 0.25em solid $lepo_alt;
  background-color: $lepo_white;
  color: $code_block_fg;
  overflow-x: auto;
}

blockquote {
  color: #7A7582;
  font-size: 120%;
  margin: 0;
  font-style: italic;
  font-weight: 200;
  &:before {
    content:"''";
    padding: 0.1em;
  }
}

code {
  background-color: $code_bg;
  color: $code_fg;
  border-radius: 2px;
  padding: 0 6px;
  font-family: $code_font;
}

pre code {
  font-size: $tiny_font_px; font-size: $tiny_font_rem;
  background-color: transparent;
  color: inherit;
  border: 0;
  padding: 0;
}

a {
  color: $lepo_alt;
  text-decoration: underline;
  &:hover {
    color: $lepo_alt_dark;
    text-decoration: none;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

.left { float: left !important; }

.right { float: right !important;}

// Page setup

.no-bul {
  list-style: none;
  padding: 0;
}

.inline-list {
  list-style: none;
  padding: 0;
  li {
    display: inline;
    padding: 0 5px 0 0;
  }
}

.inline {
  display: inline;
}

header#main-menu {
  background-color: $header_bg;
  text-align: center;
  margin: 0;
  #logo {
    width: 200px;
    margin: 25px;
  }
  h1 {
    margin: 0;
    a {
      color: $header_fg;
      text-decoration: none;
      &:hover {
        color: $header_fg;
        &:before { content: "{" }
        &:after { content: "}" }
      }
    }
  }
}

.figure {
  text-align: center;
  margin: 1em 0;
  img {
    border: 1px solid $lepo_white;
    max-width: 100%;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
}

#wrapper {
  width: $content_max_width;
  margin: 0 auto;
  #projects {
    margin: 1em 0;
    .project {
      border-left: 0.25em solid $lepo_indigo;
      background: $lepo_white;
      padding: 1em;
      margin-bottom: 1em;
      p {
        margin: 0;
      }
    }
  }
}

#tags {
  b {
    margin-right: 5px;
  }
}

#prev-next {
  a {
    margin: 1em 0;
    text-align: center;
    display: block;
    line-height: 3em;
    background: $lepo_alt;
    color: $lepo_white;
  }
}

footer {
  border-top: 0.25em solid $lepo_indigo;
  margin: 1.5em 0 0 0;
  width: 100%;
  div {
    background: $lepo_white;
    padding: 0.5em;
  }
}

@media screen and (max-width: 700px) {
  #wrapper {
    max-width: 98%;
    padding: 0 1%;
  }
}
