{
  :site-title       "Lepo"
  :site-description "We are a group of developers who enjoy making open source software."
  :site-url         "https://lepo.io/"
  :site-urn         "urn:lepo:feed"
  :github           "https://github.com/Lepovirta"
  :authors {
    :jkpl {
      :name        "Jaakko Pallari"
      :homepage    "https://lepo.io/team/jkpl/"
    }
    :esajuhana {
      :name        "Esa Juhana"
      :homepage    "http://www.esajuhana.com/"
    }
    :matson {
      :name        "Matias Keveri"
      :homepage    "http://matias.keveri.fi/"
    }
    :visav {
      :name        "Visa Varjus"
      :homepage    "https://github.com/visav"
    }
  }
}
