{:site-title       "Lepo.IO"
 :site-url         "https://lepo.io/"
 :site-urn         "urn:lepo-io:feed"
 :atom-uri         "/atom.xml"
 :github           "https://github.com/Lepovirta"
 :projects [{:name "Kuvia"
             :description "<b>Kuvia</b> is a simple image gallery for static web sites. Give it a list of image files, and you've got an image gallery that can be hosted in any web host."
             :github-id "kuvia"}
            {:name "Yet Another Hints Extension (YAHE)"
             :description "<b>Yet Another Hints Extension</b> is an extension for Chrome that allows users to activate links without touching the mouse."
             :github-id "yahe"}]
 :authors {:jkpl {:firstname "Jaakko"
                  :lastname "Pallari"
                  :description "Polyglot functional programmer"
                  :links {:twitter "lepovirta"
                          :github "jkpl"}}
           :esajuhana {:firstname "Esa"
                       :lastname "Juhana"
                       :description "Design and user experience guru"
                       :links {:twitter "esajuhana"
                               :github "thevangelist" } }
           :matson {:firstname "Matias"
                    :lastname "Keveri"
                    :description "Functional programmer with a soul for computer security"
                    :links {:twitter "matiaskeveri"
                            :github "keveri"}}}}
