<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}
        {{- if and (ne .Page.Title "") (ne .Page.Title .Site.Title) }} - {{ .Page.Title }} {{- end -}}
    </title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="#44118d" name="theme-color">
    <meta content="{{ .Page.Summary | plainify }}" name="description">
    <meta content="{{ .Page.Summary | plainify }}" property="og:description">
    <meta content="{{ "/index.html" | absURL }}" property="og:url">
    <meta content="{{ .Page.Title }}" property="og:title">
    <meta content="{{ "/icon-512x512.png" | absURL }}" property="og:image">
    <meta content="{{ .Site.Title }}" property="og:site_name">
    <meta content="website" property="og:type">
    <link rel="apple-touch-icon" sizes="192x192" href="{{ "/icon-192x192.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ "/icon-48x48.png" | relURL }}">
    <link rel="manifest" href="{{ "/site.webmanifest" | relURL }}">
    {{ $mainCss := resources.Get "style.css" | resources.Minify | fingerprint }}
    <link rel="stylesheet" href="{{ $mainCss.Permalink | relURL }}" integrity="{{ $mainCss.Data.Integrity }}" >
    {{- if .Params.canonicalUrl }}
    <link rel="canonical" href="{{ .Params.canonicalUrl }}">
    {{- end }}
    <link href="{{ "/posts/index.xml" | relURL }}" rel="alternate" title="posts" type="application/rss+xml">
</head>
<body>
    <div class="content">
        <div id="top"><a href="{{ "/" | relURL }}">Lepo</a></div>
        <main>
            {{- block "main" . -}}{{- end -}}
        </main>
    </div>
</body>
</html>
