<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}
        {{- if and (ne .Page.Title "") (ne .Page.Title .Site.Title) }} - {{ .Page.Title }} {{- end -}}
    </title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="#44118d" name="theme-color">
    <meta content="{{ .Page.Summary | plainify }}" name="description">
    <meta content="{{ .Page.Summary | plainify }}" property="og:description">
    <meta content="{{ "/index.html" | absURL }}" property="og:url">
    <meta content="{{ .Page.Title }}" property="og:title">
    <meta content="{{ "/img/lepo.png" | absURL }}" property="og:image">
    <meta content="{{ .Site.Title }}" property="og:site_name">
    <meta content="website" property="og:type">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{ "/manifest.json" | relURL }}">
    {{- if .Params.canonicalUrl }}
    <link rel="canonical" href="{{ .Params.canonicalUrl }}">
    {{- end }}
    <link href="{{ "/posts/index.xml" | relURL }}" rel="alternate" title="posts" type="application/rss+xml">
    <style>
        {{- readFile "assets/style.css" | safeCSS -}}
    </style>
    <style>
        {{- block "css" . | safeCSS -}}{{- end -}}
    </style>
</head>
<body>
    <div id="top"><a href="{{ "/" | relURL }}">Lepo</a></div>
    <main>
        {{- block "main" . -}}{{- end -}}
    </main>
</body>
</html>
