<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{site-title}} - {% block subtitle %}{{page.title}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link ref="alternate" type="application/atom+xml" title="posts" href="{{atom-uri}}" />
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
  {% style "/styles/main.css" %}
</head>
<body>
  <header id="main-menu">
    <h1 id="top" class="title">
      <a href="/">{{site-title}}</a>
    </h1>
  </header>
  <div id="wrapper">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <div class="left">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
      </div>
      <div class="right">
        <a href="#top">TOP</a>
      </div>
    </footer>
  </div>
</div>

</body>
</html>
