<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{site-title}} - {% block subtitle %}{{page.title}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{page.description}}" />
  <meta property="og:image" content="{{site-url}}img/lepologo.png" />
  {% for key,value in page.og %}
  <meta property="og:{{key|name}}" content="{{value}}" />
  {% endfor %}
  <meta property="og:site_name" content="{{site-title}}" />
  <meta property="og:see_also" content="{{site-url}}" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="alternate" type="application/atom+xml" title="posts" href="{{atom-uri}}" />
  {% style "/styles/fonts.css" %}
  {% style "/styles/main.css" %}
</head>
<body>
  <header id="main-menu">
    <img id="logo" src="/img/lepologo.svg" alt="Logo of Lepo.IO">
    <h1 id="top" class="title">
      <a href="/">{{site-title}}</a>
    </h1>
  </header>
  <div id="wrapper">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <div class="left">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
      </div>
      <div class="right">
        <a href="#top">TOP</a>
      </div>
    </footer>
  </div>
</body>
</html>
