{% extends "templates/base.html" %}
{% block content %}
<div class="custom-page">
  {{page.content|hiccup}}

  <h3>Projects</h3>

  <div id="projects">
    {% for project in projects %}
    <div class="project">
      <p class="title">
        <a href="{{project.github-url}}">{{project.name}}</a>
      </p>
      <p>{{project.description|safe}}</p>
    </div>
    {% endfor %}
  </div>

  <h3>Recent posts</h3>
  <ul class="no-bul">
    {% for post in latest-posts %}
    <li>{{post.date|date:"yyy-MM-dd"}} - <a href="{{post.uri}}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
  <ul class="inline-list">
    <li><a href="{{archive-uri}}">Archive</a></li>
    <li><a href="{{atom-uri}}">RSS</a></li>
  </ul>
</div>
{% endblock %}
