{% extends "templates/base.html" %}
{% block content %}
<div class="post">
  <header class="post-header">
    <h2>{{page.title}}</h2>
    <p class="post-meta">
      <span>
        Author:
        {% if page.author.uri %}
        <a href="{{page.author.uri}}">{{page.author.name}}</a>
        {% else %}
        {{page.author.name}}
        {% endif %}
      </span> -
      <span>
        Posted: {{page.date|date:"yyyy-MM-dd"}}
      </span>
      {% if page.edited %} -
      <span>
        Last edited: {{page.edited|date:"yyyy-MM-dd"}}
      </span>
      {% endif %}
    </p>
  </header>
  <div>
    {{page.content|hiccup}}
  </div>
  {% if page.tags|not-empty %}

  <div id="tags">
  <b>Tags:</b>
  <ul class="inline inline-list">
    {% for tag in page.tags %}
    <li><a href="{% tag-uri tag %}">{{tag}}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>

  <div id="prev-next">
    {% if page.prev %}
    <a href="{{page.prev.uri}}">
      &laquo; {{page.prev.title}} ({{page.prev.date|date:"yy/MM"}})
    </a>
    {% endif %}
    {% if page.next %}
    <a href="{{page.next.uri}}">
      {{page.next.title}} ({{page.next.date|date:"yy/MM"}}) &raquo;
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
