{% extends "templates/base.html" %}
{%block subtitle %}{{page.title}}{% endblock %}
{% block content %}
<div class="post">
  <header class="post-header">
    <h2>{{page.title}}</h2>
    <p class="post-meta">
      <span>
        Author: <a href="{{page|author-uri}}">{{page|author-fullname}}</a>
      </span> -
      <span>
        Posted: {{page.date|date:"yyyy-MM-dd"}}
      </span>
      {% if page.edited %} -
      <span>
        Last edited: {{page.edited|date:"yyyy-MM-dd"}}
      </span>
      {% endif %}
    </p>
  </header>
  <div>
    {{page.content|safe}}
  </div>
  {% if page.tags|not-empty %}
  <div class="post-tags">
    <b>Tags: </b>
    {% for tag in page.tags %}
    <a href="{{tag|tag-uri}}">{{tag}}</a>
    {% endfor %}
  </div>
  {% endif %}

  <div id="prev-next">
    {% if page.prev %}
    <a href="{{page.prev.uri}}">
      &laquo; {{page.prev.title}} ({{page.prev.date|date:"yy/MM"}})
    </a>
    {% endif %}
    {% if page.next %}
    <a href="{{page.next.uri}}">
      {{page.next.title}} ({{page.next.date|date:"yy/MM"}}) &raquo;
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
