{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    {{ .Content }}
</article>
<div class="post-meta">
    <div><b>Posted:</b> {{ .PublishDate.Format "2006-01-02" }}</div>
    {{ if .Params.tags }}
    <div>
        <b>Tags:</b>
        <ul class="inline-list">
            {{ range .Params.tags }}
                {{ $name := . }}
                {{ with $.Site.GetPage (printf "/tags/%s" ($name | urlize))}}
                <li><a href="{{ .RelPermalink }}">{{ $name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <div><a href="{{ "/posts.html" | relURL }}">more posts &hellip;</a></div>
</div>
{{ end }}
