{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    {{ .Content }}
</article>
<div class="post-meta">
    <div>
        <div>posted</div>
        <div>
            {{- if .Params.canonicalUrl }}
            <a href="{{ .Params.canonicalUrl }}">
            {{- end }}
            <time datetime="{{ .PublishDate.Format "2006-01-02" }}" pubdate>
                {{ .PublishDate.Format "2006-01-02" }}
            </time>
            {{- if .Params.canonicalUrl }}
            </a>
            {{- end }}
        </div>
    </div>
    {{- if .Params.tags }}
    <div>
        <div>tags</div>
        <div>
        {{- range $index, $name := .Params.tags }}
            {{- if $index -}},{{- end -}}
            {{- with $.Site.GetPage (printf "/tags/%s" ($name | urlize))}}
            <a href="{{ .RelPermalink }}">{{ $name }}</a>
            {{- end }}
        {{- end }}
        </div>
    </div>
    {{- end }}
    <div>
        <div>more</div>
        <div>
            {{ with .Prev -}}
            <a title="{{ .Title }}" href="{{ .RelPermalink }}">previous</a>,
            {{ end -}}
            {{ with .Next -}}
            <a title="{{ .Title }}" href="{{ .RelPermalink }}">next</a>,
            {{ end -}}
            <a title="all posts" href="{{ "/posts.html" | relURL }}">all</a>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
{{ end }}
