{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    {{ .Content }}
</article>
<nav>
    <div><b>Posted:</b> {{ .PublishDate.Format "2006-01-02" }}</div>
    {{- if .Params.tags }}
    <div>
        <b>Tags:</b>
        {{- range $index, $name := .Params.tags }}
            {{- if $index -}},{{- end -}}
            {{- with $.Site.GetPage (printf "/tags/%s" ($name | urlize))}}
            <a href="{{ .RelPermalink }}">{{ $name }}</a>
            {{- end }}
        {{- end }}
    </div>
    {{- end }}
    <div>
        {{- if .Params.canonicalUrl }}
        <a href="{{ .Params.canonicalUrl }}">Original post</a>
        &mdash;
        {{- end }}
        <a href="{{ "/posts.html" | relURL }}">More posts &hellip;</a>
    </div>
</nav>
{{ partial "footer.html" }}
{{ end }}
