body {
  background-color: #fefefe;
  color: #444;
  line-height: 1.618;
  margin: 0;
}

main {
  width: 700px;
  margin: 0 auto 20px auto;
}

blockquote {
  color: #68636e;
  font-style: italic;
}

code {
  background-color: #f7f1ff;
}

pre {
  padding: 0.2em 1em;
  border-left: 0.25em solid #44118d;
  background-color: #f7f1ff;
  overflow-x: auto;
}

a {
  color: #44118d;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

header h1 {
  font-size: 2.2em;
}

footer {
  text-align: center;
}

footer a {
  color: #666;
}

nav {
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

.logo {
  margin: 1em auto;
  width: 40%;
}

.slogan {
  text-align: center;
  font-size: 300%;
  color: lightgray;
}

#top {
  background-color: #44118d;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: sans-serif;
}

#top a {
  color: #f7f1ff;
  text-decoration: none;
}

#top a:hover:before {
  content: "{"
}

#top a:hover:after {
  content: "}"
}

@media screen and (max-width: 700px) {
  main {
    width: auto;
    padding: 0 10px;
  }
  .logo {
    width: 70%;
  }
  .slogan {
    font-size: 200%;
  }
}
