{{ define "css" }}
.logo {
  margin: 1em auto;
  width: 40%;
}
.slogan {
  text-align: center;
  font-size: 300%;
}

@media screen and (max-width: 700px) {
  .logo {
    width: 70%;
  }
  .slogan {
    font-size: 200%;
  }
}
{{ end }}

{{ define "main" }}
<img alt="Logo of Lepo" class="logo" src="{{ "/img/lepo.svg" | relURL }}">
<p class="slogan">
    <a title="all posts" href="{{ "/posts.html" | relURL }}">Share</a>,
    <a title="code projects" href="{{ "/code.html" | relURL }}">Code</a>,
    <a title="about this site" href="{{ "/about.html" | relURL }}">Relax</a>
</p>
{{ .Content }}
{{ end }}
